@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  color: #8d96bd;
  padding-top: 5rem;
}

.input {
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  background-color: #efeff7;
  border-radius: 0.125rem;
  color: #7a85ad;
  font-size: 0.75rem;
}

.input--size-lg {
  padding: 1.25rem 1.5rem;
  border-radius: 0.25rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  padding: 0.75rem 1rem;
  margin: 0;
  border: 1px solid transparent;
  background: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: 0.125rem;
  background-color: none;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn--size-lg {
  padding: 1.25rem 3.75rem;
  border-radius: 0.25rem;
}

.btn--primary {
  background-color: #d2e1ff;
  color: #3a79ff;
}

.btn--primary:hover {
  background-color: #9fbfff;
}

.btn--dangers {
  background-color: #ffd7d7;
  color: #d43f3f;
}

.btn--dangers:hover {
  background-color: #ffa4a4;
}

.btn--secondary {
  background-color: #4c85ff;
  color: #fff;
}

.btn--secondary:hover {
  background-color: #1962ff;
}

.btn--secondary-inverted {
  background-color: #fff;
  color: #565f82;
}

.btn--secondary-inverted:hover {
  background-color: #e6e6e6;
}

.btn--grayscale {
  background-color: #e8ecf4;
  color: #7382a3;
}

.btn--grayscale:hover {
  background-color: #c6d0e4;
}

.btn--no--bg {
  color: #adb4d2;
  border: 1px solid #d1d1e4;
}

.btn--no--bg:hover {
  color: #8c96c0;
  border: 1px solid #b1b1d1;
}

.btn--no--bg-inverted {
  border-color: #a0b4ff;
  color: #c7d3ff;
}

.btn--no--bg-inverted:hover {
  color: #fafbff;
  border-color: #bac8ff;
}

.section-outer {
  padding: 0 1.25rem;
  border-bottom: 1px solid #d8e3fe;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
}

.section-inner--wide {
  max-width: 1200px;
}

.vertical-indent--s {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.vertical-indent--m {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.vertical-indent--l {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.section-subtitle {
  font-family: "Quicksand", sans-serif;
  color: #3d4f9f;
  font-size: 3rem;
  margin-bottom: 1.75rem;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 0.625rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #3d4f9f;
}

.ta-c {
  text-align: center;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.swiper-pagination-bullet::before {
  display: block;
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background-color: #d8e0f7;
  border-radius: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.swiper-pagination-bullet-active::before {
  background-color: #5e80fe;
}

.swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 0.25rem;
}

.btn-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.btn-group .btn:nth-child(1) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: #fff;
}

.section-header::before {
  display: none;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-header--active-nav::before {
  display: block;
}

.section-header--active-nav .main-navigation__inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-burger {
  display: none;
  margin-left: auto;
}

.button-burger__line {
  display: block;
  width: 1rem;
  height: 0.125rem;
  background-color: #d1d1e4;
}

.button-burger__line + .button-burger__line {
  margin-top: 0.25rem;
}

.logo__link {
  display: block;
  background-color: #5e81fe;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 2.5rem;
}

.nav-wrapper__item-link {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  font-size: 0.75rem;
  color: #697ca6;
  font-weight: 500;
}

.nav-wrapper__item-link:hover {
  color: #5e81fe;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.nav-wrapper__item-link--active {
  font-weight: 700;
  color: #6188ff;
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials-wrapper__item + .socials-wrapper__item {
  margin-left: 2.5rem;
}

.socials-wrapper__item-link path {
  fill: #697ca6;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.socials-wrapper__item-link:hover path {
  fill: #b6bac7;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  fill: #6188ff;
}

.btn-wrapper {
  margin-left: 2.75rem;
}

.btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  border-radius: 2px;
  background-color: none;
  text-decoration: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.btn--primary {
  background-color: #d2e1ff;
  color: #3a79ff;
}

.btn--primary:hover {
  background-color: #9fbfff;
}

.section-hero-image {
  background-color: #f4f7ff;
  position: relative;
  padding: 0;
  overflow: hidden;
}

.section-hero-image .dots {
  position: absolute;
  bottom: 1.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-hero-image {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-hero-image__item {
  min-width: 100%;
  height: 35rem;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.slider-hero-image__item-content .section-subtitle {
  font-weight: 500;
}

.slider-hero-image__item-content .section-subtitle span {
  font-weight: 700;
}

.slider-hero-image__item-content .slider-hero-image__text {
  max-width: 60%;
  margin: 0 auto 1.25rem;
  line-height: 2;
}

.icon-play {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
          box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
}

.icon-play svg {
  width: 0.75rem;
  height: 0.75rem;
}

.icon-play::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: 1rem;
  border-color: transparent;
  border-style: solid;
  border-width: 0.5rem 0.75rem;
  border-left-color: #5e81ff;
}

.section-customers .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-customers .section-inner a {
  opacity: 0.3;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.section-customers .section-inner a:hover {
  opacity: 1;
}

.section-plan-and-manage {
  position: relative;
  background-color: #f5f8ff;
  overflow: hidden;
}

.section-plan-and-manage__content {
  width: 60%;
}

.section-plan-and-manage__content .aside-image {
  position: absolute;
  top: 0;
  left: 50%;
}

.section-plan-and-manage__content .section-subtitle {
  font-weight: 500;
}

.section-plan-and-manage__content .section-subtitle span {
  font-weight: 700;
}

.section-plan-and-manage__content .plan-and-manage__text {
  line-height: 2;
  margin-bottom: 3rem;
}

.section-plan-and-manage__content .btn-group svg {
  margin-left: 0.25rem;
}

.section-features {
  background: url(../img/clouds.svg) no-repeat 50% 50%;
}

.section-features .section-subtitle {
  font-weight: 500;
  font-size: 1.5rem;
}

.section-features .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 6.25rem;
  text-align: center;
}

.features-list__item {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.features-list__item + .features-list__item {
  margin-left: 2.5rem;
}

.features-list__item + .features-list__item::before {
  position: absolute;
  content: "";
  left: -34px;
  width: 28px;
  height: 1px;
  top: 120px;
  background-color: #dae4fe;
}

.features-list__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 2rem;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 100%;
  background-color: #f1f5ff;
}

.features-list__item-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.9375rem;
  color: #4074f8;
  margin-bottom: 1.75rem;
}

.features-list__item-text {
  line-height: 2;
}

.or-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 500;
  font-size: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.or-block::before,
.or-block::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1px;
  background-color: #dae4fe;
}

.or-block::before {
  margin-right: 1rem;
}

.or-block::after {
  margin-left: 1rem;
}

.section-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9efff;
  padding: 0;
}

.section-stats__icon {
  margin-bottom: 1.5rem;
}

.section-stats__number {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
}

.section-stats__number-left {
  color: #fff;
  font-size: 48px;
}

.section-stats__number-right {
  color: #5e80ff;
  font-size: 48px;
}

.section-stats__text {
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1.75rem;
  line-height: 1.5;
}

.section-stats__left,
.section-stats__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 4rem 5.5rem;
}

.section-stats__left {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #6888ff;
  text-align: right;
  color: #fff;
}

.section-stats__right {
  text-align: left;
  color: #5e80ff;
}

.section-blog {
  background-color: #f5f8ff;
}

.section-blog .section-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.slider-blog {
  position: relative;
}

.slider-blog__container {
  margin-bottom: 6.25rem;
  position: relative;
  border: 1px solid #d8e3fe;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 50px #eff4ff;
          box-shadow: 0 15px 50px #eff4ff;
  overflow: hidden;
}

.slider-blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-blog-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4rem 2rem;
}

.slider-blog-wrapper__item-gallery {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(2, 120px);
  grid-gap: 1rem;
  width: 100%;
}

.slider-blog-wrapper__item-gallery .image-link {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  -webkit-box-shadow: 0 15px 100px #e5ebf8;
          box-shadow: 0 15px 100px #e5ebf8;
}

.slider-blog-wrapper__item-gallery .image-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  opacity: 0;
  background: #fff url(../img/loupe.svg) no-repeat 50% 50%;
}

.slider-blog-wrapper__item-gallery .image-link:hover::after {
  opacity: 1;
}

.slider-blog-wrapper__item-gallery .image-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-blog-wrapper__item-gallery .image-link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.7;
}

.slider-blog-wrapper__item-gallery .image-link--b {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.slider-blog-wrapper__item-gallery .image-link--b::before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ffc735));
  background: -o-linear-gradient(transparent, #ffc735);
  background: linear-gradient(transparent, #ffc735);
}

.slider-blog-wrapper__item-gallery .image-link--s-1 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}

.slider-blog-wrapper__item-gallery .image-link--s-1::before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#ff3535));
  background: -o-linear-gradient(transparent, #ff3535);
  background: linear-gradient(transparent, #ff3535);
}

.slider-blog-wrapper__item-gallery .image-link--s-2 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.slider-blog-wrapper__item-gallery .image-link--s-2::before {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#35aaff));
  background: -o-linear-gradient(transparent, #35aaff);
  background: linear-gradient(transparent, #35aaff);
}

.slider-blog-wrapper__item-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1.25rem;
}

.slider-blog-wrapper__item-content h3 {
  margin-bottom: 1.75rem;
  font-size: 2.25rem;
  color: #3d4f9f;
  font-weight: 400;
}

.slider-blog-wrapper__item-content__text {
  font-style: 0.9375rem;
  line-height: 2;
  margin-bottom: 2.5rem;
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../img/arrow.svg) no-repeat 50% 50%;
}

.btn-blog--prev {
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  right: 100%;
  margin-right: 4rem;
}

.btn-blog--next {
  left: 100%;
  margin-left: 4rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-quotes {
  background: -webkit-gradient(linear, left top, left bottom, from(#eaebff), to(#f6f9ff));
  background: -o-linear-gradient(#eaebff, #f6f9ff);
  background: linear-gradient(#eaebff, #f6f9ff);
  overflow: hidden;
}

.section-quotes .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-quotes .section-inner .section-subtitle {
  font-weight: 500;
  font-size: 2.25rem;
}

.section-quotes__left,
.section-quotes__right {
  width: 45%;
}

.section-quotes__left .quotes__text {
  line-height: 2;
  font-size: 12px;
  margin-bottom: 2.5rem;
}

.slider-quotes-container {
  width: calc(50vw + 48px);
  margin: -48px 0 5rem -48px;
  overflow: hidden;
}

.slider-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-quotes__item {
  min-width: 30vw;
  padding: 3rem;
  opacity: .5;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider-quotes__item.swiper-slide-active {
  opacity: 1;
}

.slider-quotes__item-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #d8e3fe;
  -webkit-box-shadow: 0 5px 50px #f3f5fa;
          box-shadow: 0 5px 50px #f3f5fa;
  padding: 2.5rem 4.25rem 3.75rem;
}

.slider-quotes__item-content__text {
  font-size: 0.9375rem;
  line-height: 2;
  color: #676f95;
}

.slider-quotes__item-content__photo {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3.75rem;
  height: 3.75rem;
  margin-top: -1.875rem;
  border-radius: 100%;
  overflow: hidden;
  background-color: #fff;
}

.section-faq {
  background-color: #fff;
}

.section-faq .section-inner .section-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.faq-accordion__item {
  border-bottom: 1px solid #d8e3fe;
}

.faq-accordion__item--active .faq-accordion__item-trigger {
  color: #495274;
  font-weight: 700;
}

.faq-accordion__item--active .faq-accordion__item-trigger .arrow {
  stroke: #495274;
}

.faq-accordion__item--active .faq-accordion__item-trigger-icon {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.faq-accordion__item--active .faq-accordion__item-trigger-text {
  font-weight: 700;
}

.faq-accordion__item--active .faq-accordion__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.faq-accordion__item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 1rem;
}

.faq-accordion__item-trigger-icon {
  width: 1rem;
  text-align: center;
  margin-right: 1rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq-accordion__item-trigger-icon .arrow {
  stroke: #8e96b7;
}

.faq-accordion__item-trigger-text {
  font-size: 0.9375rem;
}

.faq-accordion__item-content {
  display: none;
  padding: 0 1rem 1rem 3rem;
}

.faq-accordion__item-content-text {
  font-size: 0.9375rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 2;
}

.faq-accordion__item-content-btn {
  margin-left: 3.75rem;
}

.section-get-started {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#6888ff), to(#5e80ff));
  background: -o-linear-gradient(#6888ff, #5e80ff);
  background: linear-gradient(#6888ff, #5e80ff);
  color: #fff;
  text-align: center;
  z-index: 5;
}

.section-get-started::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../img/clouds-get.svg) no-repeat 50% 50%;
}

.section-get-started h2 {
  color: #fff;
}

.section-get-started .section-subtitle {
  font-weight: 500;
  color: #fff;
}

.section-get-started .section-subtitle span {
  font-weight: 700;
}

.section-get-started .text {
  line-height: 2;
  margin: 0 auto 2.5rem;
}

.section-newsletter {
  background-color: #fcfdff;
}

.section-newsletter .section-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-newsletter__left {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.section-newsletter__left-title {
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #3d4f9f;
  margin-bottom: 1rem;
}

.section-newsletter__left-text {
  line-height: 2;
  font-size: 0.9375rem;
}

.section-newsletter__right {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.form-newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-newsletter .input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-newsletter .btn {
  margin-left: 1rem;
}

.section-footer {
  border-bottom: 0;
}

.copyright {
  font-family: "Quicksand", sans-serif;
  margin-top: 1.75rem;
  margin-left: 6rem;
  color: #aeb8d0;
  font-size: 0.75rem;
  font-weight: 500;
}

@media (min-width: 576px) {
  .section-get-started .text {
    max-width: 60%;
  }
}

@media (min-width: 992px) {
  .section-plan-and-manage__content {
    width: 50%;
  }

  .section-stats__text {
    width: 40%;
  }
}

@media (max-width: 1199px) {
  .btn-blog {
    display: none;
  }
}

@media (max-width: 991px) {
  --m {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  --l {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .main-navigation__inner-wrap {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-color: #fff;
    margin-left: 0;
    z-index: 10;
    display: none;
    padding: 0 1.25rem;
  }

  .main-navigation__inner-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main-navigation__inner-wrap .socials,
  .main-navigation__inner-wrap .nav {
    margin-bottom: 1rem;
  }

  .main-navigation__inner-wrap,
  .main-navigation__inner-wrap .socials,
  .main-navigation__inner-wrap .btn-wrapper {
    margin-left: 0;
    margin-bottom: 1rem;
  }

  .section-footer .main-navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-footer .main-navigation .logo {
    margin-bottom: 1rem;
  }

  .button-burger {
    display: block;
  }

  .features-list {
    margin-bottom: 3.75rem;
  }

  .features-list {
    margin-bottom: 3.75rem;
  }

  .slider-blog {
    margin-bottom: 3.75rem;
  }

  .slider-blog-wrapper__item-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 0.5rem;
  }

  .slider-blog-wrapper__item-gallery .image-link--b {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .slider-blog-wrapper__item-gallery .image-link--s-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  .slider-blog-wrapper__item-gallery .image-link--s-2 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }

  .slider-blog-wrapper__item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
  }

  .slider-blog-wrapper__item-galley {
    width: 50%;
  }

  .slider-blog-wrapper__item-content {
    position: relative;
    z-index: 5;
    margin-left: 0;
    margin-top: 1.5rem;
  }

  .slider-blog-wrapper__item-content h3 {
    margin-bottom: 0.75rem;
  }

  .section-quotes .section-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-quotes__left,
  .section-quotes__right {
    width: 100%;
  }

  .slider-quotes-container {
    width: 110vw;
    margin: -48px 0 2.5rem -15px;
  }

  .slider-quotes__item {
    min-width: 50vw;
  }

  .section-newsletter .section-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-newsletter__left {
    margin-bottom: 1.25rem;
  }

  .copyright {
    margin-left: 0;
    text-align: center;
  }
}

@media (max-width: 991px) and (max-width: 575px) {
  --m {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  --l {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 767px) {
  .vertical-indent--l {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }

  .section-customers .section-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-customers .section-inner a {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .slider-blog__container {
    margin-bottom: 2.5rem;
  }
}

@media (max-width: 575px) {
  .btn--size-lg {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .vertical-indent--m {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .vertical-indent--l {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 0;
  }

  .nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-wrapper__item {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-plan-and-manage__content {
    width: 70%;
  }

  .section-plan-and-manage__content .aside-image {
    left: 30%;
  }

  .features-list__item + .features-list__item {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .features-list__item + .features-list__item::before {
    display: none;
  }

  .features-list__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }

  .features-list__item-icon {
    margin-bottom: 1rem;
  }

  .features-list__item-title {
    margin-bottom: 0.75rem;
  }

  .features-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 1.25rem;
  }

  .section-stats__left,
  .section-stats__right {
    padding: 2rem 2.5rem;
  }

  .slider-blog-wrapper__item-galley {
    width: 100%;
  }

  .section-quotes__left {
    margin-bottom: 1.75rem;
  }

  .slider-quotes-container {
    width: 100%;
    margin-top: 0;
    margin: -48px 0 2.5rem -15px;
  }

  .slider-quotes__item {
    min-width: 100vw;
    padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  }

  .faq-accordion__item-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .faq-accordion__item-content-btn {
    margin-left: 0;
  }

  .faq-accordion__item-content-text {
    margin-bottom: 1rem;
  }
}